<div ng-app="TV2Presets2">
    <div class="body-content">
        <hr/>
        <div ng-view></div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - TV2 Preset Channels System</p>
        </footer>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/TV2Presets2/TV2PresetsModule.js"></script>
    <script src="~/Scripts/TV2Presets2/customServices.js"></script>
    <script src="~/Scripts/TV2Presets2/StartPageCtrl.js"></script>
    <script src="~/Scripts/TV2Presets2/DownlinkPageCtrl.js"></script>
    <script src="~/Scripts/TV2Presets2/UplinkPageCtrl.js"></script>
    <script src="~/Scripts/TV2Presets2/SetupPageCtrl.js"></script>
    <script src="~/Scripts/TV2Presets2/ApplyDownlinkChannelDialogCtrl.js"></script>
}