<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <a href="#/Downlink" class="thumbnail thumbnail-padding">
                <img src="~/Content/clipart/DOWNLINK.png" class="hidden-xs" />
                <div class="caption">
                    <h3>DOWNLINK PRESETS</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#/Uplink" class="thumbnail thumbnail-padding">
                <img src="~/Content/clipart/DOWNLINK.png" class="mirror hidden-xs" />
                <div class="caption">
                    <h3>UPLINK PRESETS</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#/Setup" class="thumbnail thumbnail-padding">
                <img src="~/Content/clipart/SETTINGS.png" class="hidden-xs" />
                <div class="caption">
                    <h3>SYSTEM SETUP</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#/Bisscodes" class="thumbnail thumbnail-padding">
                <img src="~/Content/clipart/BISSCODES.png" class="hidden-xs" />
                <div class="caption">
                    <h3>BISS CODES</h3>
                </div>
            </a>
        </div>
    </div>
</div>


<style>
    .mirror {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .thumbnail-padding {
        padding: 20px;
        min-height: 365px;
    }
</style>
